

.slider_container {
    background-color: rgb(79, 79, 79);
    position: relative;
    width: 100%;
    height: 80vw;
    max-height: 900px;
    min-height: 700px;
    overflow: hidden;
}

.slider_track {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.45, 0, 0.55, 1); 
    width: max-content;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    margin-left: calc(var(--slide-width) / -2);
}

.slide {
    width: var(--slide-width);
    transform: scale(0.7);
    opacity: 0.5;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.slide.active {
    transform: scale(1);
    opacity: 1;
}

.slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.5));
    border-radius: 30px;
}

.slide_nav {
    width: 100%;
}

.no-transition, 
.no-transition .slide {
    transition: none !important;
}

:root {
    --slide-width: 30vw;
}

@media (max-width: 1450px) {
    :root {
        --slide-width: 40vw;
    }
}

@media (max-width: 1000px) {
    :root {
        --slide-width: 50vw;
    }
}

@media (max-width: 700px) {
    :root {
        --slide-width: 60vw;
    }
}

@media (max-width: 450px) {

    :root {
        --slide-width: 80vw;
    }
}